<div id="post_show_content" class="skinny_wrapper wrapper_padding">
	<header>
		<p class="date"><%= @quote.created_at.strftime('%A, %B %d')%></p>
		<h1><%= @quote.title%></h1>
		<hr>
	</header>

	<div id="content">
		<%= markdown @quote.description %>
		<div class="button_wrapper">
			<a href="<%= @quote.link %>" class="project_button" target="_blank">Visit <%= @quote.title %></a>
		</div>
	</div>
<% if user_signed_in? %>
	<div id = "admin_links">
		<%= link_to "Edit Quote", edit_quote_path(@quote) %>
		<%= link_to "Delete Quote", quote_path(@quote), method: :delete, data: { confirm: "Are you sure ? "}%>
	</div>
<% end %>
<hr>